Sympatia/**
Wykop/**
podsumowanie_roku_blog/**
wycieczki_Grecja/db_login.R
AutorKsiazki/ksiazki/Miloszewski-Bezcenny.txt
AutorKsiazki/ksiazki/Miloszewski-Gniew.txt
AutorKsiazki/ksiazki/Miloszewski-Uwiklanie.txt
AutorKsiazki/ksiazki/Miloszewski-Ziarno_prawdy.txt
AutorKsiazki/ksiazki/Mroz-Enklawa.txt
AutorKsiazki/ksiazki/Mroz-Kasacja.txt
AutorKsiazki/ksiazki/Mroz-Rewizja.txt
AutorKsiazki/ksiazki/Mroz-Zaginiecie.txt
client_category/data/**
sklearn_pipelines/catboost_info/**
